.hidden {
    display: none;
}

body {
    height: 100%;
    width: 75%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.colorandom {
    font-size: 75pt;
    text-align: center;
    -webkit-animation: colorchange 4s;
}

@-webkit-keyframes colorchange {
 0% { color: orange; ;}
 15% { color:pink; }
 30% { color: rgb(213, 213, 83); }
 45% { color: cyan; }
 60% { color: rgb(230, 21, 21); }
 75% {color: rgb(0, 81, 255) }
 90% { color: rgb(48, 2, 91); }
 100% { color: black; }
}

aside {
    text-align: center;
    height: 100%;
    width: 24%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    border-left: solid;
    overflow-y: auto;
	scrollbar-color: #ffffff;
}

.boxes {
    height: 200px;
    width: 200px;
    border-radius: 2px;
    border: solid;
    margin: 10px 20px 0px 20px;
    background-color: black;
    cursor: pointer;
}

.palette {
    display: flex;
    justify-content: space-around;
}

.palette-labels {
    display: flex;
    margin: 10px 20px 20px 20px;
    justify-content: space-around;
}

.label-section {
    display: flex;
    width: 200px;
    align-items: center;
    margin-left: 80px;
}

.lock {
    width: 25px;
    height: 25px;
    padding-left: 10px;
}

.unlock {
    width: 25px;
    height: 25px;
    padding-left: 7px;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}

button {
    width: 220px;
    height: 100px;
    border-radius: 12px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20pt;
    background-color: white;
    cursor: pointer;
 }

button:hover {
    background-color: #020202;
   color:#ffffff;
}


.mini-pals {
    width: 90%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

 .mini-boxes {
    width: 30px;
    height: 30px;
    border: solid;
    background-color: black;
 }

 .trashcan {
    width:25px;
    cursor: pointer;
 }
