body {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 75%;
}

h1 {
    font-size: 75pt;
}

aside {
    height: 100%;
    width: 24%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: antiquewhite;
}

.boxes {
    height: 200px;
    width: 200px;
    border-radius: 2px;
    border: solid;
    display: flex;
    margin: 10px 20px 0px 20px;
    
}

.palette {
    display: flex;
}

.palette-labels {
    display: flex;
    margin: 10px 20px 20px 20px;
}

.labels {
    width:200px;
    margin: 10px 25px 20px 20px;
    text-align: center;
}