body {
    height: 100%;
    width: 75%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-size: 75pt;
    text-align: center;
}

aside {
    text-align: center;
    height: 100%;
    width: 24%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    border-left: solid;
}

.boxes {
    height: 200px;
    width: 200px;
    border-radius: 2px;
    border: solid;
    display: flex;
    margin: 10px 20px 0px 20px;
    
}

.palette {
    display: flex;
}

.palette-labels {
    display: flex;
    margin: 10px 20px 20px 20px;
}

.labels {
    width:200px;
    margin: 10px 25px 20px 20px;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}

 button {
    width: 220px;
    height: 100px;
    border-radius: 12px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20pt;
    background-color: white;
 }

.box1 {
    background-color: #f50404;
}

.box2 {
    background-color: #fab700;
}

.box3 {
    background-color: #f9f002;
}

.box4 {
    background-color: #24680A;
}

.box5 {
    background-color: #0602f8;
}